node_modules/
.expo/
dist/
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
npm-debug.*
web-build/
.env
.env.*

# macOS
.DS_Store

# IDE
.vscode/
.idea/

# iOS build artifacts
ios/Pods/
ios/build/
ios/.xcode.env.local
